body {
  background-color: rgb(10, 10, 10);
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
}

.image {
  width: 30vmin;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  position: absolute;
  transform: translate(-50%, -50%);
}

.image[data-status="inactive"] {
  display: none;
}

.image[data-status="active"] {
  display: block;
}
